*, *::before, *::after { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

/* Classes gerais */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

h1 {
    font-family: 'Poiret One';
    font-weight: bold;
    font-size: 4rem;
}

h2 { 
    font-family: 'Poiret One';
    font-weight: bold;
    font-size: 2rem;
}

h3,h4,h5 { 
    font-family: 'Poiret One';
    font-weight: bold;
    font-size: 1.5rem;
}

p { 
    padding: 0px; 
    margin: 0px; 
    margin-bottom: 0px !important;
}

.credit {
    color: #d4d4d4;
    font-size: 0.7rem;

}

.section {
    padding: 1em 0em;
}

.btn {
    font-size: 1rem;
}

/* Logo Asproc topo */
.navbar {
    position: relative;
    height: 80px;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

/* Carrossel de fotos topo */

.carousel-item {
    height: 35rem;
    background: #777;
    color: white;
    background: #000;
    position: relative;
}
.hero-text {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    max-width: 60em;
    padding: 0.5rem 1rem !important;
}

.overlay-image {
    position:absolute;
    bottom: 0;
    left:0;
    right: 0;
    top:0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.btn {
    white-space: nowrap;
    margin-top:10px;
    max-width: 50em;
}

/* Local de Origin  */

.card-body {
    font-size: 0.9rem;
}

.list-group-item {
    padding: 0.5rem 1rem !important;
}
/* Qualidade  */

#bg-qualidade {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    width: 100%;
    height: auto;
}

.media {
    margin: 30px auto;
    max-width: 45em;
    height: 50vh;
    border-radius: 3px;
    background-color: rgba(0, 100, 0, 0.6);
    color: white;
}

/* Benefícios */
#bg-beneficios {
    background-color: rgba(0, 100, 0, 0.1) !important;
}
.card {
    margin: 30px auto;
    max-width: 100em;
    max-height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    justify-content: space-around;
}

#beneficios .card {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: relative;
}
#beneficios .card-title{
    padding: 10px 10px;
    position: absolute;
    bottom:0px;
    left: 0px;
    background: rgba(0,0,0,0.4); 
}

/* marca coletiva */
.text-area {
    align-items: middle;
}
.text-area p {
    padding-left: 30px;
}
/* Footer */

#footer{
    height: fit-content;
    padding: 30px 0px;
}
#footer.bg-color {
    background-color: lightgray;
}
.fab, .far {
    font-size: 1.5em;
    padding-right: 15px;
}
.fab:hover, .far:hover {
    color:darkgreen;
}   