/* Classes gerais */

body {
    font-family:"Open Sans", sans-serif;
    text-align: left;
    margin: 0 auto;
}

h1,h2,h3,h4,h5 { 
    font-family:"Poiret One", sans-serif; 
    font-weight: bold;
}

p { padding: 0px; margin: 0px; margin-bottom: 0px !important;}

.card {
    margin: 30px auto;
    max-width: 100vh;
    max-height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    justify-content: space-around;
}

/* Logo Asproc topo */
.navbar {
    position: relative;
    height: 80px;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

/* Carrossel de fotos topo */

.carousel {
    margin: 30px auto;
    position: absolute;
    z-index: 0;
}
.overlay-bg {
    max-height: 100vh;
    width: 100vw;
    background: black;
    overflow: hidden;
}
.hero-text {
    padding: 0px 15px;
    position: absolute;
    top: 40%;
    left:4%;
    transform: translateY(-50%);
    z-index: 1;
    color:white;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 10%);
    text-align: left !important;
    font-size: 70%;
}

.btn {
    white-space: nowrap;
    margin-top:10px;
    max-width: 28vh;
}
.carousel-item {
    width: 100%;
    max-height: 90vh;
    object-fit: contain;
    opacity: 0.5;
}
/* Qualidade  */

#bg-qualidade {
    background-image: url(images/background_detalhe_1.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    width: 100%;
    height: auto;
}

.media {
    margin: 30px auto;
    max-width: 600px;
    height: 50vh;
    border-radius: 3px;
    background-color: rgba(0, 100, 0, 0.6);
    color: white;
}

/* Benefícios */
#beneficios .card {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: relative;
}
#beneficios .card-title{
    padding: 10px 10px;
    position: absolute;
    bottom:0px;
    left: 0px;
    background: rgba(0,0,0,0.4); 
}

/* marca coletiva */
.text-area {
    align-items: middle;
}
.text-area p {
    padding-left: 30px;
}
/* Footer */

#footer{
    height: fit-content;
    padding: 30px 0px;
}
#footer.bg-color {
    background-color: lightgray;
}
.fab, .far {
    font-size: 1.5em;
    padding-right: 15px;
}
.fab:hover, .far:hover {
    color:darkgreen;
}
